# System files
.DS_Store

# Node modules
node_modules/

# Environment Variables
.env
.env.local
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/
build/

# Database files
*.db
*.sqlite
*.sqlite3
*.db-journal

# Uploads and temporary media
uploads/
/podlive-backend/uploads/
*.vtt
*.mp4
*.ts
*.m3u8

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
